main{
    padding-top: 1rem; 
}

.signup-title{
    text-align: center;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
}

.signin-redirection{
    text-align: center;
    font-size: 1.1rem;
}

.signin-redirection a{
    text-decoration: none;
    color: #f56a2a;
    font-weight: bold;
    padding: 0.2rem 0;
    list-style:none;
}

.signin-redirection a:hover,
.signin-redirection a:active{
    color: rgb(104, 176, 243);
    border-bottom: 5px rgb(107, 151, 247) solid;th: 18rem;
}

.signup-form{
    padding: 1rem;
    margin: auto;
    width: 18rem;
    font-size: 1.1rem;
}

.signup-form label{
    font-weight: bold;
}

.signup-form label,
.signup-form input, 
.signup-form select{
    display: block;
    margin-top: 1rem;
}

.signup-form input[id*='terms'],
.signup-form input[id*='terms'] + label{
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}

.signup-form input:not([type="checkbox"]),
.signup-form select{
    border: 1px solid #ccc; /* width, style and color*/
    padding: 0.2rem 0.5rem;
    font: inherit;
}

.signup-form input:focus,
.signup-form select:focus{
    outline: none;
    background: rgb(227, 239, 247);
    border-color: #0b2f7c;
}

.signup-form input[type="checkbox"]{
    border: 1px solid rgb(204, 204, 204);
    background: white;
    width: 1rem;    
    height: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.signup-form input[type="checkbox"]:checked{
    background-color: #f56a2a;	
	color: #f56a2a;
}

.signup-form button[type="button"]{
    display: block;
    margin-top: 1rem;
}

