/* this file contains the styles that all of the html pages of the website should contain such as  header and footer*/

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap'); /* TITLES*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap'); /* BODY */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap'); /* SPECIAL CASES */

*{
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 20px;
    overflow-x: hidden; /*it will help for when I arrange the header*/
}

.button{
    background: #f56a2a;
    color: white;
    font: inherit;
    border: 1.5px solid #e2500d;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active{
    background: white;
    color: #0e4f1f;
}