/* this file contains the styles that all of the html pages of the website should contain such as  header and footer*/

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap'); /* TITLES*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap'); /* BODY */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap'); /* SPECIAL CASES */

*{
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    /* overflow-x: hidden; NO RECUERDO PARA QUE SIRVE*/ 
}